<% @documents.each do |document| %>
  <div class="booyah-box col-10 offset-1">
  	<h1><%= document.documenttitle %></h1>
  	<h2><%= document.username %></h2><br />
  	<p><%= document.transcription %></p><br /><br />
  	<b><%= document.locationtag %></b><br />
    <b><%= document.datetag %></b><br />
    <a><%= document.uploadedimage %></a><br />
   </div>
   
   <hr />
<% end %>    